@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
}

.gradient-divider-vertical {
  background: linear-gradient(225deg, #F76680 0%, #57007B 100%);
  width: 1px;
}

.gradient-divider-horizontal {
  background: linear-gradient(225deg, #F76680 0%, #57007B 100%);
  height: 1px;
}

.scribble-border {
  position: relative;
  padding: 28px;
}

.scribble-border::before {
  content: "";
  position: absolute;
  inset: 0;
  border: 2px solid #22c55e;
  border-radius: 20px;
  filter: url(#scribble);
  pointer-events: none;
}

.divider-vertical {
  width: 1px;
  height: 352px;
  /* Strict height from user */
  background: linear-gradient(225deg, #F76680 0%, #57007B 100%);
}

.divider-horizontal {
  width: 1190px;
  /* derived from height 1190 rotated 90deg */
  height: 1px;
  background: linear-gradient(225deg, #F76680 0%, #57007B 100%);
}

.nav-link-active {
  background: linear-gradient(225deg, #F76680 0%, #57007B 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  position: relative;
}

.nav-link-active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  /* Adjust distance */
  height: 2px;
  width: 100%;
  background: linear-gradient(225deg, #F76680 0%, #57007B 100%);
}